<% evil_string = "<script>alert('Gotcha!');</script>".html_safe %>
<% good_string = "<strong>Welcome to my site!</strong>".html_safe %>

<%# raw(evil_string) %><br />
<%# raw(good_string) %><br />

<%= evil_string.html_safe? %><br />
<%= good_string.html_safe? %><br />

<%# h(evil_string) %><br />
<%# h(good_string) %><br />

<hr />

<% simple_string = '<strong>Please</strong> visit <a href="http://example.com">us</a>.' %>

<%= strip_links(simple_string) %>
<%= strip_tags(simple_string) %>

<hr />

<%= sanitize(evil_string) %><br />
<%= sanitize(simple_string, :tags => []) %><br />
<%= sanitize(simple_string, :tags => ['strong', 'em', 'a']) %><br />
